.gameMode {
    margin-top: 36px;
    width: 100%;
    .wrapperTitles {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    .cardsImg {
      display: flex;
      gap: 24px;
      @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .cardImg{
        width: 33%;
        @media (max-width: 600px) {
          width: 100%;
        }
        img {
          width: 100%;
        }
      }
    }
    .annotation {
      max-width: 724px;
      min-width: 724px;
      @media (max-width: 880px) {
        min-width: 0;
      }
    }
    .title,
    .descName,
    .desc,
    .blockTitle {
      font-family: 'Rubik';
      font-style: normal;
      line-height: 27px;
      letter-spacing: 0.02em;
    }
    .desc,
    .descName,
    .blockTitle {
      color: #cbcbcb;
    }
    .title {
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
      margin: 0;
    }
    .descName,
    .blockTitle {
      font-weight: 700;
      margin: 20px 0 0 0;
      padding: 0;
    }
    .desc {
      margin: 0;
    }
    
  }
  .wrapper {
    padding: 0 50px 0 0;
    @media (max-width: 880px) {
      padding: 0 40px;
    }
    @media (max-width: 425px) {
      padding: 0 20px;
    }
    img {
        margin-top: 30px;
        width: 100%;
    }
    .section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (max-width: 880px) {
        justify-content: flex-start;
        align-items: inherit;
  
      }
      .title {
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 27px;
          letter-spacing: 0.02em;
          color: #ffffff;
          margin: 30px 0 0 0;
        }
        .text {
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 27px;
          letter-spacing: 0.02em;
          color: #cbcbcb;
          margin: 14px 0 0 0;
        }
    }
  }
  