.btnBack {
  background: #20313a;
  border-radius: 7px;
  outline: none;
  border: none;
  cursor: pointer;
  &:hover {
    background: #13222A;
  }
  div {
    padding: 8px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
        font-family: 'Changa One';
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0 0 0 13px;
    }
  }
}
