.container {
    .btn {
        font-family: 'Changa One';
        font-style: italic;
        font-weight: 400;
        font-size: 22px;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
        color: #442910;
        background: linear-gradient(246.26deg, #FFF38B 13.13%, #FFE600 59.92%, #FE6B00 105.41%);
        border-radius: 8px;
        padding: 15px 50px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}