.header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    z-index: 15;
    .content {
        padding: 20px 0;
        display: flex;
        align-items: center;
        
        .link {
            border-radius: 5px;
            padding: 7px 20px;
            color: #7B9BAC;
            font-family: 'Changa One';
            font-style: italic;
            font-weight: 400;
            font-size: 18px;
            line-height: 19px;
            text-align: center;
            text-transform: uppercase;
            margin-left: 30px;
            text-decoration: none;
            &.active {
                color: #FFFFFF;
                background: rgba(255, 255, 255, 0.2);
            }
            &:first-child{
                margin: 0;
            }
            &:last-child {
                margin-right: 50px;
            }
            &:hover {
                color: #FFFFFF;
                background: rgba(255, 255, 255, 0.2);
            }
        }
    }
}