.mainPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(90deg, #091923 20.66%, rgba(9, 25, 35, 0.76) 46.15%, rgba(9, 25, 35, 0) 94.69%);
  @media (min-width: 1440px) {
    align-items: center;
  }
  .page{
    max-width: 1440px;
    padding: 0 0 0 150px;
    position: relative;
    flex: 1;
    @media (min-width: 1440px) {
      width: 90%;
    }
    // margin: 0 auto;
    @media (max-width: 880px) {
      padding: 0 0 0 100px;
    }
    @media (max-width: 600px) {
      padding: 0px;
    }
    @media (max-width: 500px) {
      margin: 0;
    }
  }

}
