.tabContainer {
  margin-top: 100px;
  .blockTitle {
    display: flex;
    align-items: center;
    @media (max-width: 880px) {
      padding: 0 40px;
    }
    @media (max-width: 425px) {
      padding: 0 20px;
    }
    .title {
      font-family: 'Changa One';
      font-style: italic;
      font-weight: 400;
      font-size: 45px;
      line-height: 48px;
      text-transform: uppercase;
      background: linear-gradient(180deg, #ffffff 0%, #92b7ff 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      margin: 0 0 0 30px;
      @media (max-width: 1024px) {
        font-size: 36px;
        line-height: 38px;
      }
      @media (max-width: 425px) {
        font-size: 24px;
        line-height: 25px;
        margin: 0 0 0 16px;
      }
    }
  }
  .tabs {
    display: flex;
    align-items: center;
    margin-top: 30px;
    border-bottom: 1px solid #14222a;
    @media (max-width: 880px) {
      padding: 0 0 0 40px;
    }
    @media (max-width: 425px) {
      padding: 0 20px;
    }
    .tab {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;
      color: #7b9bac;
      padding: 20px 30px;
      margin-bottom: -1px;
      cursor: pointer;
      &:hover {
        color: #ffffff;
      }
      @media (max-width: 425px) {
        padding: 20px;
        font-size: 14px;
      }
    }
  }
}
